.maincontainer-dash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.formelements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
