.maincontainer-dash {
  display: flex;

  padding-top: 100px;
  flex-direction: column;
  width: 100vw;
}

.formelements {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}

.biography {
  height: 235px;
}

.forms {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
}

.edit-profile {
  margin-left: 50px;
  font-size: 30px;
  font-weight: 600;
}

.dashboard-active {
  padding-top: 85px;
  margin-right: 80px;
  font-family: "Poppins";
  font-size: 18px;
  float: right;
  color: orangered;
}
