.mainbody {
  background-color: rgb(184, 52, 184);
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.profile {
  margin-top: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 590px;
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-top: 40px;
  border-radius: 8px;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.imagecontainer {
  margin-top: -120px;
  border-radius: 50%;
  overflow: hidden;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.subheading {
  margin-top: -10px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
}

.paragraph {
  margin-top: 5px;
  letter-spacing: 1px;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 20px;
}

.social {
  display: flex;
  flex-direction: row;
}
.icon {
  padding-right: 5px;
}
